*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
@mixin rect($width:800px,$height:100px){
    width:$width;
    height:$height;
}
@mixin cube($size:100px){
    width:$size;
    height:$size;
}
@mixin circle($size:50px){
    @include cube($size);
    border-radius: 50%;
}
@function randomColor(){
    $red:random(255);
    $green:random(255);
    $blue:random(255);
    @if($red>80){
        $red:30;
    }
    @if($green>80){
        $green:30;
    }
    @if($blue<100){
        $blue:200;
    }
    @return rgba($red,$green,$blue,0.5);
}
@mixin bg{
    background: randomColor();
}
%bt{
    position:absolute;
    top:0;
    bottom:0;
    margin: auto;
}
%lr{
    position:absolute;
    left:0;
    right:0;
    margin: auto;
}
%center{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
}
