@import "_base";
@import "_col";
/*顶部开始*/
.nav_box{
	
	width: 100%;
	//position: relative;
	background: red;
	.nav{
		position:fixed;
		background: #149ea3;
		width: 100%;
		height: auto;
		overflow: hidden;
		z-index: 100;
		.nav_left{
			padding-left: 15px;
			height: 50px;
			line-height: 50px;
			float: left;
			a{
				font-size: 18px;
				color: #ebf2f2  ;
			}
		}
		.nav_right{
			padding-right: 15px;
			height: 50px;
			float: right;
			li{
				width: 72px;
				height: auto;
				text-align: center;
				float: left;
				line-height: 50px;
				a{
					font-size: 16px;
					color: #ebf2f2;
				}
			}
		}
		.sm_nav_right{
			float: right;
			.menu {
				cursor: pointer;
				line-height: 50px;
				padding-right: 15px;
				font-family:"iconfont" !important;
				font-size:30px;
				font-style:normal;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				color: #ebf2f2;
			}
		}
	}
	.sm_nav{
		position: fixed;
		top: -300px;
		left: 0;
		width: 100%;
		transition: all 0.8s ease;
		z-index: 10;
		background:rgba(20,158,163,0.9);
		float: left;
		li{
			padding:0 15px;
			line-height: 40px;
			a{
				display: block;
				width: 100%;
				font-size: 16px;
				border-bottom: 1px solid rgb(31,31,31);
				color: #fff;
			}
		}
	}
	.show{
		top: 50px;
	}
}

@media (max-width: 768px){
	.nav_right {
		display: none;
	}
}
@media (min-width: 768px){
	.sm_nav_right {
		display: none;
	}
}
@media (min-width:768px ) {
	.sm_nav{
		display: none;
	}
}
/*顶部导航 结束*/
/*关于我 开始*/
@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }
#about_me{
	width: 100%;
	height: 662px;
	position: relative;
	overflow: hidden;
	background: blue;
	.head{
		margin-top: 100px;
		@include circle(150px);
		background: url("../images/宝贝1.jpg");
		background-size: cover;
		@extend %lr;
		transition: all 2s ease;
		&:hover{
			transform: rotateZ(360deg);
			background: url("../images/宝贝2.jpg");
			background-size: cover;
		}
	}
	h2{
		font: bold 200% Consolas, Monaco, monospace;
		width: 14em;
		margin: 278px auto;
		letter-spacing: 0.2em;
		white-space: nowrap;
		overflow: hidden;
		animation: typing 1s steps(100, end);
		color: #ffffff;
	}
}

/*关于我 结束*/
/*掌握技能 开始*/
.skill{
	background: #ced7df;
	padding: 80px 0;
	.skill_box{
		width: 1200px;
		overflow: hidden;
		height: auto;
		background:#59626a;
		margin: 0 auto;
		h3{
			margin: 0;
			color: #76b852;
			font-size: 44px;
			text-align: center;
			font-weight: 400;
		}
		.art{
			position: relative;
			margin: 80px 0 0 0;
			padding: 0;
			background: red;
			//min-height: 400px;
			//overflow: hidden;
			li{
				transition: all 1s ease;
				float: left;
				margin: 0.4%;
				opacity: 0;
				background: #fff;
				border: 8px solid #ffffff;
				box-sizing: border-box;
				//position: absolute;
				top: 0;left: 0;
				width: 32.4%;
				&:hover div{
					bottom: 0;
				}
				a{
					overflow: hidden;
					display: block;
					position: relative;
					width: 100%;
					img{
						display: block;
						position: relative;
						width: 100%;
					}
					div{
						position: absolute;
						background: #ced7df;
						width: 100%;
						height: 100%;
						transition: all 300ms ease;
						left:0;
						bottom: -100%;
						line-height: inherit;
						h5{
							color: #323b43;
							font-size: 24px;
							text-align: center;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 992px){
	.skill .skill_box {
		width: 970px;
	}
}
@media (max-width: 768px){
	.skill .skill_box .art{
		line-height: 100%;
	}
	.skill .skill_box {
		width: 100%;
	}
}
@media (max-width: 640px){
.about-info h3, .skill .skill_box h3, .gallery h3, .ser-head h3, .news h3, .get-info h3 {
	font-size: 30px;
}}
/*掌握技能 结束*/
/*作品集 开始*/
.Gallery{
	width: 100%;
	height: auto;
	padding: 80px 0;
	h3{
		color: #76b852;
		font-size: 44px;
		text-align: center;
		font-weight: 400;
	}
}
.timeline{
	width: 100%;
	height: 640px;
	background: red;
	margin-top: 80px;
	.btns{
		max-width: 1200px ;
		height: auto;
		background: #f2f2f2;
		margin: 0 auto;
		text-align: center;
		.btn{
			display: inline-block;
			width: 52px;
			height: 52px;
			cursor: pointer;
			margin-top: 5px;
			background: url("../images/w.png");
			background-size: 100%;
			&:hover{
				background: url("../images/b.png");
				background-size: 100%;
			}
			img{
				width: 100%;
			}
		}
	}
}
.slide{
	max-width: 1200px;
	height: 530px;
	background-color: #f2f2f2;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	.slides {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		background: url(../images/Legacy_timeline.png) repeat-x bottom left;
		.item {
			max-width: 1200px;
			float: left;
			height: 100%;
		}
	}
}
/*作品集 结束*/

body{
	height: 3000px;
	background: url("../images/body.jpg")no-repeat center top;
	background-size: 100% 100%;
}